<h1>Home</h1>

<div class="row g-3">

  <div class="col-12">

    <mat-accordion>
      
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hymnes du Canada Version française
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>chantée par Nathalie Paulin</p>

        <div>
          <audio controls class="w-100">
            <source [src]="assetsUrl + '/assets/data/_content_dam_pch_audios_services_anthems-canada_O-Canada-fra.mp3'" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </div>
        <br>
       
        <p> « Ô Canada! Terre de nos aïeux, </p>
        <p> front est ceint de fleurons glorieux!</p>
    
        <br>
        <p>Car ton bras sait porter l'épée, </p>
        <p>sait porter la croix!</p>
    
        <br>
        <p>Ton histoire est une épopée</p>
        <p>Des plus brillants exploits.</p>
    
        <br>
        <p>Et ta valeur, de foi trempée, </p>
        <p>Protégera nos foyers et nos droits.</p>
    
        <br>
        <p>Protégera nos foyers et nos droits. »</p>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hymnes du Canada Version anglaise
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>chantée par Julie Nesrallah</p>

        <div>
          <audio controls class="w-100">
            <source [src]="assetsUrl + '/assets/data/_content_dam_pch_audios_services_anthems-canada_O-Canada-eng.mp3'" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </div>
        <br>

        <p>O Canada!</p>  
        <p>Our home and native land!</p>   
        <p>True patriot love in all of us command.</p>   

        <br>
        <p> With glowing hearts we see thee rise,</p>  
        <p> The True North strong and free!</p>

        <br>
        <p>From far and wide,</p>  
        <p>O Canada, we stand on guard for thee.</p>   

        <br>
        <p>God keep our land glorious and free!</p>   
        <p> O Canada, we stand on guard for thee.</p> 

        <br>
        <p> O Canada, we stand on guard for thee.</p> 
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hymnes du Canada Version bilingue
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>chantée par Julie Nesrallah et Nathalie Paulin</p>

        <div>
          <audio controls class="w-100">
            <source [src]="assetsUrl + '/assets/data/_content_dam_pch_audios_services_anthems-canada_O-Canada-billingual.mp3'" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </div>
        <br>

        


        <p>O Canada! Our home and native land!</p>
        <p>True patriot love in all of us command,</p>

        <br>
        <p>Car ton bras sait porter l'épée,</p>
        <p>Il sait porter la croix!</p>

        <br>
        <p>Ton histoire est une épopée</p>
        <p>Des plus brillants exploits,</p>
        
        <br>
        <p>God keep our land glorious and free!</p>
        <p>O Canada, we stand on guard for thee.</p>
        
        <br>
        <p>O Canada, we stand on guard for thee.</p>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hymnes du Canada
          </mat-panel-title>
        </mat-expansion-panel-header>


        <p>
          Lorsqu'ils entendent les premiers accords familiers de l'« Ô Canada » à l'école, lors de matchs de hockey ou d'autres événements, les Canadiens se lèvent avec fierté pour rendre hommage à leur pays. Proclamé hymne national du Canada le 1er juillet 1980, l'« Ô Canada » fut chanté pour la première fois en français un siècle plus tôt.
        </p>

        <h3>Historique de l'hymne national</h3>
        <p>
          C'est en 1980 que l'« Ô Canada » est proclamé hymne national. Composée en 1880, la musique est l'œuvre d'un célèbre compositeur à l'époque, Calixa Lavallée. Les paroles quant à elles ont été écrites par sir Adolphe-Basile Routhier.

          <br>Au fur et à mesure que la popularité de la chanson s'est accrue au cours des années, plusieurs versions anglaises ont été écrites, y compris celle basée sur un poème composé en 1908 par l'honorable Robert Stanley Weir. Les paroles de Weir sont devenues la version anglaise officielle en 1980.
          
          <br> Le 31 janvier 2018, un projet de loi a été adopté pour changer les paroles de la version anglaise. Le vers « True patriot love in all thy sons command » a été remplacé par « True patriot love in all of us command », afin d'éliminer toute distinction de genre.
          
          <br>Lisez l'historique complet de l'« Ô Canada » et apprenez-en davantage sur la vie des personnes derrière l'hymne.
        </p>
        
        
        <h3>Moment adéquat et étiquette concernant l'hymne national</h3>
        <p>
          Aucune règle ne dicte le moment approprié pour chanter l'hymne national lors d'un événement. Ce sont les organisateurs qui déterminent si l'« Ô Canada » sera chanté au début ou à la fin d'une cérémonie. Si 2 hymnes sont joués au début d'un événement, l'« Ô Canada » doit être joué en premier suivi de l'autre. Si les hymnes sont joués à la fin de l'événement, l'« Ô Canada » doit être le dernier.

<br>Selon la tradition et par marque de respect, il est approprié d'être debout lorsque l'« Ô Canada » est joué. La même étiquette s'applique lorsqu'il s'agit de l'hymne d'une autre nation. La tradition veut également que les hommes en tenues civiles retirent leur chapeau durant l'hymne national. Ce n'est pas le cas pour les femmes et les enfants.

<br>Il n'y a pas de loi ou de comportement à adopter en ce qui a trait à l'hymne national; c'est laissé au sens du civisme des personnes.
        </p>

       
      
      </mat-expansion-panel>
      
    </mat-accordion>
    

   
  </div>







  
</div>



