<h1>Quiz</h1>

<div class="row g-3" *ngIf="allQuestions.length > 0">

  <div class="col-12">

    <button mat-raised-button aria-label="Replay Restart" type="button" (click)="restart()">
      <mat-icon>replay</mat-icon> Rejouer
    </button>

    <button mat-raised-button aria-label="Show the correct answer" type="button" (click)="showCorrectAnswer()">
      <mat-icon>check</mat-icon> Réponse
    </button>

  </div>

  <div class="col-12">
    

    <mat-card class="app-card">
 
      <mat-card-content>
        <h3>{{counter+1}}. {{currentQuestion}}</h3>
    
        <div>
    
          <mat-radio-group aria-labelledby="Select an option" class="app-radio-group" [(ngModel)]="options[this.currentIndex]" required>
            <mat-radio-button class="app-radio-button" name="option1" value="a"  [checked]="currentAnswer == 'a' && canShowCorrectAnswer">
             <div [ngClass]="{'app-correct-answer': currentAnswer=='a' && canShowCorrectAnswer}">A. {{ option1 }}</div>
            </mat-radio-button>
            <mat-radio-button class="app-radio-button" name="option2"value="b"  [checked]="currentAnswer == 'b' && canShowCorrectAnswer">
              <div [ngClass]="{'app-correct-answer': currentAnswer=='b' && canShowCorrectAnswer}">B. {{ option2 }}</div>
            </mat-radio-button>
            <mat-radio-button class="app-radio-button" name="option3" value="c" *ngIf="option3 != null" [checked]="currentAnswer == 'c' && canShowCorrectAnswer">
              <div [ngClass]="{'app-correct-answer': currentAnswer=='c' && canShowCorrectAnswer}">C. {{ option3 }}</div>
            </mat-radio-button>
            <mat-radio-button class="app-radio-button"name="option4" value="d" *ngIf="option4 != null" [checked]="currentAnswer == 'd' && canShowCorrectAnswer">
              <div [ngClass]="{'app-correct-answer': currentAnswer=='d' && canShowCorrectAnswer}">D. {{ option4 }}</div>
            </mat-radio-button>
          </mat-radio-group>
    
        </div>   
      
      </mat-card-content>
      <mat-card-actions>
      
        <button mat-icon-button aria-label="Previous" type="button" [disabled]="counter==0"  *ngIf="!isFinish" (click)="prevQuestion()">
          <mat-icon>navigate_before</mat-icon>
        </button>

        <button mat-icon-button aria-label="Next" type="button" *ngIf="counter!=allQuestions.length-1" (click)="nextQuestion()">
          <mat-icon>navigate_next</mat-icon>
        </button>

        <button mat-icon-button aria-label="Finish" type="button" [disabled]="isFinish" *ngIf="counter==allQuestions.length-1" (click)="finish()">
          <mat-icon>save</mat-icon>
        </button>

        <span class="app-spacer"></span>
    
      </mat-card-actions>
      
    </mat-card>

  </div>
  
</div>