<div class="card">
    <div class="card-header">
      <h3>Featured</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title"> {{counter+1}}. {{currentQuestion}}</h5>
      <div class="card-text">
          <!-- Default radio -->
          <div class="form-check">
            <input mdbRadio class="form-check-input" type="radio"
              [(ngModel)]="options[this.currentIndex]" name="option1" id="option1" value="a"
            />
            <label class="form-check-label" for="option1"> {{ option1 }} </label>
          </div>
          <!-- Default checked radio -->
          <div class="form-check">
            <input mdbRadio class="form-check-input" type="radio"
              [(ngModel)]="options[this.currentIndex]" name="option2" value="b" id="option2"              
            />
            <label class="form-check-label" for="option2">{{ option2 }}</label>
          </div>
          <div class="form-check" *ngIf="option3 != null">
            <input mdbRadio class="form-check-input" type="radio" 
            [(ngModel)]="options[this.currentIndex]" name="option3" value="c" id="options3"              
            />
            <label class="form-check-label" for="options3"> {{ option3 }}</label>    
          </div>
          <div class="form-check" *ngIf="option4 != null">
            <input mdbRadio class="form-check-input" type="radio"
              [(ngModel)]="options[this.currentIndex]" name="option4" value="d" id="options4"              
            />
            <label class="form-check-label" for="options4">{{ option4 }}</label>   
          </div>
      </div>


      <br>
      <div class="alert alert-success" role="alert" *ngIf="panelsts">
         Your Score is {{ rightAnswer}} out of {{ allQuestions.length }}
      </div>
      <button type="button" class="btn btn-secondary" [disabled]="counter==0" (click)="prevQuestion()" >Previous</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" [disabled]="counter==allQuestions.length-1" *ngIf="counter!=allQuestions.length-1" (click)="nextQuestion()">Next</button>      
      <button type="button" class="btn btn-primary" *ngIf="counter==allQuestions.length-1" (click)="finish()">Finish</button>      
    </div>
  </div>





<pre>{{ questions$ | async | json }}</pre>
